.selected {
  background-color: antiquewhite;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  /* width: calc(100vw - 1rem); */
}
.content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.info_block {
  display: flex;
  flex-direction: column;
}
.info_block__descriptions {
  display: flex;
  flex-direction: column;
}
.user_list li {
  cursor: pointer;
}
.info_block img {
  width: 100%;
}
